{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}Members{% endblock %}

{% block content %}
<article class="container">
  <h1>Original Members of Queen</h1>
    <div class="row">
      {% for member in queen.members %}
      <div class="col-sm-6">
        <div class="card">
          <img src="{{ relative_path }}../img/img-queen/members/{{ member.slug }}-bw.jpg" class="card-img-top" alt="Image of {{ member.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ member.name }}</h5>
            <p class="card-text">{{ member.instruments }}</p>
            <a href="{{ relative_path }}../{{ member.slug }}.html">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</article>
{% endblock %}
